<div class="containerForm">
  <div class="form">
    <div class="register-info">
      <p class="">
        <img src="img/auth.jpg" alt="" >
      </p>
    </div>
    <div class="contact-form">
      <span class="circle one"></span>
      <span class="circle two"></span>

      <form action="/login" method="POST">

        <% if(messages.error) { %>
          <span class="text-red-800 text-xl"><%= messages.error %></span>
          <% } %>  

        <h3 class="title py-3 items-center">Welcome To Pizza Store!</h3>
        <div class="input-container ">
          <input type="email" name="email" value="<%= messages.email%>" class="input" />
          <label for="">Email</label>
          <span>Email</span>
        </div>
        <div class="input-container">
          <input type="password"name="password" value="" class="input" />
          <label for=""> Password</label>
          <span> Password</span>
        </div>
        <button type="submit" class="btn py-8">Log In</button>
        <a class="inline-block align-baseline font-bold py-4 " href="/register" style="color:#fff; font-size: medium; ">
          Don't have account?
        </a>
      </form>
    </div>
    
  </div>
</div>


