<style>    
  @import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');

  .message {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 20px;
    margin-top: 10vh;
    text-align: center;
    background: linear-gradient(#99e6ff, #3ccfff, #1e9dc5);
    display: inline-table;
    max-width: 90vw;
    border-radius: 10px;
  }
  
  .message p:nth-child(1) { 
    color: #454444;
    font-size: clamp(36px, 4em, 150px);
    font-family: cursive;
    font-weight: bold;
    animation: text1-animation 1s linear 0s 1 normal forwards;
    opacity: 0;
  }
  
  .message p:nth-child(2) {
    color: #454444;
    font-size: clamp(24px, 2em, 100px);
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 10px;
    animation: text1-animation 0.8s linear 1s 1 normal forwards;
    opacity: 0;
  }
  
  .message p:nth-child(3) {
    color: #454444;
    font-size: clamp(20px, 1.5em, 80px);
    font-family: sans-serif;
    animation: text2-animation 0.5s linear 1.8s 1 normal forwards;
    opacity: 0;
  }
  
  @keyframes text1-animation {
    0% {
      transform: translate(20em, -50vh) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translate(0em, 0vh) rotate(-360deg);
      opacity: 1;
    }
  }
  
  @keyframes text2-animation {
    0% {
      transform: translate(20em, -50vh);
      opacity: 0;
    }
    100% {
      transform: translate(0em, 0vh);
      opacity: 1;
    }
  }
  </style>
  
    <div class="message">
      <p>404</p>
      <p>PAGE NOT FOUND</p>
      <p>The page you are looking for was moved, removed, renamed or might never existed.</p>
    </div>
      